<% content_for :page_title do %>
  <%= Spree.t(:mail_method_settings) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'envelope', Spree.t('mail_methods.send_testmail'), testmail_admin_mail_method_path,
    method: :post, title: Spree.t('mail_methods.send_testmail'), class: 'send_mail btn btn-default' %>
<% end %>

<%= form_tag admin_mail_method_path, method: :put do |f| %>
  <fieldset>
    <%= render 'form', f: f %>
    <div class="form-actions actions" data-hook="buttons"><%= button Spree.t('actions.update'), 'update' %></div>
  </fieldset>
<% end %>
